.new_user-h
  .new_user-sj
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render 'layouts/flash'
      .field
        = f.label "ニックネーム"
        %em (7文字まで)
        %br/
        = f.text_field :nickname, autofocus:true, maxlength: "7"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "ログイン"
    = form_for(User.new, as: :user, url: session_path(:user)) do |f|
      .field-h
        = f.hidden_field :nickname ,value: "テストユーザー"
        = f.hidden_field :email ,value: "test@example.com"
        = f.hidden_field :password ,value: "testtest"
      .actions-h
        = f.submit "カンタンログイン"
